<footer>
  <link itemprop="url" href="{{ site.baseURL }}">

  <a itemprop="sameAs" href="https://igo.rs" title="Personal page" target="_blank">❖</a>
  &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="mailto:info@oblac.com">kontakt</a>
  &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/prati">zaprati</a>

  <div id="copyright">Sadržaj je dostupan pod <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a> licencom.</div>

  <!-- {{ site.buildTime }} -->
</footer>
