<form id="search-form" action="/search">
	<div style="display: grid; grid-template-columns: auto 100px;">
		<div>
			<div class="mc-field-group">
				<input type="text" id="search-query" name="s" placeholder="Tražiš nešto?" />
			</div>
		</div>
	    <div class="clear"><input type="submit" value="Potraži" class="button"></div>
	</div>
  <div id="quick-links" style="margin-bottom: 2em;">
    <a href="/ko-je-oblac">ko je oblac?</a><a href="/prati">zaprati</a><a href="mailto:info@oblac.com">kontakt</a>
  </div>
</form>
