{% if home %}
  <script>
    function showDiv(div) {
      const x = document.getElementById(div);
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }
  </script>
  <header class="site-header">
    <h1 id="title">{{ site.title }}</h1>
    {% if not lang %}
    <div class="tagline"><a id="menu" href="#" onclick="showDiv('search-form');">🧧</a></div>
    {% endif %}
  </header>
  {% include "./search.html" %}
{% else %}
  <header class="site-header-small">
    <div id="title-small"><a id="home" href="{{ site.baseURL }}{{ lang.prefix }}">{{ site.title }}</a></div>
  </header>
{% endif %}
