$black: #303030;
$gray: #686868;
$light-gray: #e5e5e5;
$white: #fbfbfb;
$text-color: #444;
$red: #bf2139;
$serif-head: 'Josefin Sans';
$serif: 'Domine';
$monospace: 'Source Code Pro';
$fs: 1.1rem;
$fs-large: 1.2rem;
$std-margin: 0 0 1rem;
$break-small: 800px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: $white;
  color: $black;
  font-family: $serif, serif;
  font-size: $fs;
  -webkit-font-smoothing: antialiased;

  @media screen and (min-width: $break-small) {
    font-size: $fs-large;
  }
}

body {
  line-height: 1.6;
}

html,
body {
  margin: 0;
}

h1,
p,
figure,
pre,
blockquote {
  margin: $std-margin;
}

hr {
  display: block;
  width: 100%;
  height: 0;
  margin: 2rem 0;

  border: 0;
  border-top: 1px solid $gray;
}

figure {
  .representation {
    display: block;
    margin: 0 0 .5rem;
  }
}

figcaption {
  padding: 0 .5rem .5rem;
  font-size: .8125rem;
  text-align: right;

  .original::before {
    content: ' ';
    display: block;
  }
}

img {
  max-width: 100%;
}

blockquote {
  padding: 1rem;
  border-left: 8px solid $light-gray;
  font-style: italic;

  p {
    margin: 0;
  }

  cite {
    display: block;
    margin: 1rem 0 0;
    font-size: .875rem;
    text-align: right;
  }
}

a {
  border-bottom: 1px solid currentColor;
  color: $red;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid $white;
    color: $red;
  }
}

ol,
ul {
  margin: 0 0 1rem 1.25rem;
  padding: 0;
  list-style-position: outside;

  ol,
  ul {
    margin-bottom: 0;
  }
}

li {
  margin: 0;

  &:not(last-of-type) {
    margin-bottom: .4rem;
  }
}

abbr {
  border-bottom: 1px dashed currentColor;
  text-decoration: none;
  cursor: help;
}

kbd,
code,
pre {
  font-family: $monospace, monospace;
}

pre {
  max-width: 100%;
}

kbd,
code {
  margin: 0;
  padding: .125rem .25rem 0;
  background-color: $light-gray;
}

article,
section {
  display: block;
  margin-bottom: 1rem;
  p {
    line-height: 2rem;
  }
}

h1 {
  font-size: 2.4rem;
  line-height: 1.2em;
  font-family: $serif-head, serif;
  text-transform: uppercase;
  font-weight: bold;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 .5rem;
  font-family: $serif-head, serif;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.container {
  width: 100%;
  max-width: 38rem;
  margin: 0 auto;
  padding: .5rem;

  @media screen and (min-width: $break-small) {
    padding: 1rem 0;
  }
}

.site-header,
.site-nav {
  margin-bottom: 2rem;

  h1 {
    margin-bottom: .5rem;
    border-left: 10px solid $red;
    padding-left: 10px;
    padding-top: 10px;
  }
  p {
    color: $gray;
  }
}

.site-nav a::before {
  content: '\2190'; // left arrow
  margin-right: .25rem;
}

.site-footer {
  margin: 5rem 0 2rem;
  font-size: .75rem;
  color: $gray;

  [itemprop="sameAs"] + [itemprop="sameAs"] {
    margin-left: .4rem;
  }

  @media screen and (min-width: $break-small) {
    margin-top: 3rem;
    margin-bottom: .5rem;
  }
}

.posts {

  ol {
    margin-left: 0;
    list-style: none;
  }

  li {
    margin-bottom: 1rem;

    @media screen and (min-width: $break-small) {
      display: flex;
      flex-direction: row;
      margin-bottom: .5rem;
    }
  }

  time {
    display: block;
    color: $gray;
    font-size: 0.8em;
    line-height: 0.9em;

    @media screen and (min-width: $break-small) {
      font-size: 1em;
      line-height: inherit;
      flex: 0 0 5rem;
    }

    + a {
      margin-left: 0rem;
      font-family: $serif-head, serif;
      text-transform: uppercase;

      @media screen and (min-width: $break-small) {
        margin-left: 2rem;
      }
    }
  }
}

.post {

  .post-title {
    margin-top: 80px;
    letter-spacing: -2px;
  }
  .post-header {
    margin-bottom: 3rem;
  }

  .post-date {
    display: block;
    margin: $std-margin;
    text-align: right;
    color: $gray;
  }
}

.hljs {
  font-size: .8rem;
}

p,
li {
  line-height: 1.6rem;
  color: $text-color;
}
pre, table, p, li {
  margin-bottom: 2rem;
}


table, td, th {
    border-color: rgba(68,68,68,0.3);
}
td, th {
    padding: 10px 15px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    display: table-cell;
    vertical-align: inherit;
}
caption, th {
    text-align: left;
}
th {
    font-weight: bold;
    text-align: -internal-center;
}
thead {
  background-color: $light-gray;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    border-top: 1px solid;
    border-left: 1px solid;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: $red;
  color: white;
  a {
    color: white;
  }
}
.tag a {
  color: #999;
  font-size: 0.8rem;
  border-bottom: none;
  font-family: $monospace;
  letter-spacing: -1px;
}
.tag a:hover {
  color: white;
}
.tag:hover::after {
   border-left-color: $red;
}

input {
  font-family: $serif, serif;
  font-size: $fs;
  border: 1px solid $text-color;
  color: #999;
}
input:focus {
  border: 1px solid $red;
}

input[type=email] {
  width: 80%;
  padding: 10px;
}
input[type=button] {

}