$black: #303030;
$gray: #686868;
$light-gray: #e5e5e5;
$white: #fff;
$line-color: #666;
$text-color: #444;
$red: #bf2139;
$night: #282c35;
$share-color: #444;

$fs: 1.1rem;
$fs-large: 1.4rem;
$std-margin: 0 0 1rem;
$break-small: 860px;

$serif-oblac: 'CooperBT';
$serif-head: 'Josefin Sans';
$serif: 'Domine';
$monospace: 'Source Code Pro';

