---
import BaseLayout from "../layouts/BaseLayout.astro";
import TenetCard from "../components/TenetCard.astro";
---

<BaseLayout home={true}>
  <header class="site-header">
    <h1 id="title">Oblac Tenets</h1>
  </header>

  <TenetCard>
    Uncertainty - measure.
  </TenetCard>

</BaseLayout>
