---

---
<footer>
  <a href="/">🏡</a>
  &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/ko-je-oblac" target="_blank">oblac?</a>
  &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/rss.xml">rss</a>
  &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="https://igo.rs/contact">kontakt</a>

  <div id="copyright">Sadržaj je dostupan pod <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a>
    licencom.
  </div>
</footer>
