<div id="menu"><a href="/apothegms">Apothegms</a></div>

<style>
  #menu {
    text-align: right;
    margin: 0 40px 10px 0;
    a {
      letter-spacing: -2px;
      background-color: var(--red-color);
      color: var(--bg-color);
      padding: 2px 4px;
      border-radius: 4px;
      text-decoration: none;
      font-family: var(--font-monospace);
      &:hover {
        background-color: var(--bg-color);
        color: var(--red-color);
      }
    }
  }
</style>
