$black: #303030;
$gray: #686868;
$light-gray: #e5e5e5;
$white: #fff;
$line-color: #666;
$text-color: #444;
$red: #bf2139;
$night: #282c35;
$share-color: #444;

$serif-head: 'Josefin Sans';
$serif: 'Domine';
$monospace: 'Source Code Pro';

$fs: 1.1rem;
$fs-large: 1.2rem;
$std-margin: 0 0 1rem;
$break-small: 800px;

:root {
  --text-color: #303030;
  --bg-color: #fff;
  --bg-shade: #f4f4f4;
  --bg-light-color: #f1f1f1;
  --bg-tag-color: #e5e5e5;
  --title-small-color: #686868;
  --title-color: #333;
  --line-color: #686868;
  --time-color: #686868;
  --red-color: #bf2139;
}
[data-theme="dark"] {
  --text-color: #fff;
  --bg-shade: #363c48;
  --bg-color: #282c35;
  --bg-light-color: #363c48;
  --bg-tag-color: #363c48;
  --title-small-color: #ccc;
  --title-color: #fff;
  --line-color: #ccc;
  --time-color: #999;
  --red-color: #bf2139;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: $serif, serif;
  font-size: $fs;
  -webkit-font-smoothing: antialiased;

  @media screen and (min-width: $break-small) {
    font-size: $fs-large;
  }
}

body {
  line-height: 1.6;
  transition:color 0.4s ease-out, background 0.4s ease-out;
}

html,
body {
  margin: 0;
}

h1,
p,
figure,
pre,
blockquote {
  margin: $std-margin;
}

hr {
  display: block;
  width: 80%;
  margin: 2rem auto 3rem auto;
  border: 0;
  text-align: center;
}
hr:after {
  line-height: 1.4;
  letter-spacing: 1em;
  display: block;
  color: var(--line-color);
  font-size: 1.2em;
  content: "...";
}

figure {
  .representation {
    display: block;
    margin: 0 0 .5rem;
  }
}

figcaption {
  padding: 0 .5rem .5rem;
  font-size: .8125rem;
  text-align: right;

  .original::before {
    content: ' ';
    display: block;
  }
}

img {
  max-width: 100%;
}
p.center {
  text-align: center;
}

blockquote {
  padding: 1rem;
  border-left: 8px solid var(--bg-light-color);
  font-style: italic;

  p {
    margin: 0;
  }

  cite {
    display: block;
    margin: 1rem 0 0;
    font-size: .875rem;
    text-align: right;
  }
}

a {
  color: $red;
  text-decoration: none;
  border: 0;
  background: linear-gradient(to bottom, $red 0%, $red 1000%) repeat-x 0 100%;
  background-size: 1px 2px;
  transition: .2s;
  &:hover {
    color: #fff;
    background-size: 1px 40px;
  }
}
ol,
ul {
  margin: 0 0 1rem 1.25rem;
  padding: 0;
  list-style-position: outside;

  ol,
  ul {
    margin-bottom: 0;
  }
}

li {
  margin: 0;

  &:not(last-of-type) {
    margin-bottom: .4rem;
  }
}

abbr {
  border-bottom: 1px dashed currentColor;
  text-decoration: none;
  cursor: help;
}

kbd,
code,
pre {
  font-family: $monospace, monospace;
}

pre {
  max-width: 100%;
}

kbd,
code {
  margin: 0;
  padding: .125rem .25rem 0;
  background-color: var(--bg-light-color);
}

article,
section {
  display: block;
  margin-bottom: 1rem;
  p {
    line-height: 2rem;
  }
}

h1 {
  margin-top: 2em;
  font-size: 3rem;
  line-height: 1.2em;
  font-family: $serif-head, serif;
  text-transform: uppercase;
  font-weight: bold;
}
h1#title {
  font-size: 3em;
  letter-spacing: -7px;
  color: var(--title-color);
}
h1#title-small {
  font-size: 1.4em;
  letter-spacing: -3px;
  color: var(--title-small-color);
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 .5rem;
  font-family: $serif-head, serif;
  text-transform: uppercase;
}

h2 {
  font-size: 2.2rem;
}
h2.year {
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.container {
  width: 100%;
  max-width: 38rem;
  margin: 0 auto;
  padding: .5rem;

  @media screen and (min-width: $break-small) {
    padding: 1rem 0;
  }
}

.site-header {
  margin-bottom: 2rem;

  h1 {
    margin-bottom: .5rem;
    border-left: 16px solid $red;
    padding-left: 10px;
    padding-top: 10px;
  }
  p {
    color: $gray;
  }
}
.site-header-small {
  @extend .site-header;
  margin-bottom: 2rem;
}
a#home {
  background: none;
  color: var(--title-small-color);
  &:hover {
    letter-spacing: 6px;
    color: var(--title-small-color);
  }
}

footer {
  letter-spacing: -1px;
  border-top: 10px solid $red;
  margin: 100px 0 0 0;
  font-size: 0.9em;

  color: $gray;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  background-color: var(--bg-shade);
  padding: 60px 0 60px 0;

  [itemprop="sameAs"] + [itemprop="sameAs"] {
    margin-left: .4rem;
  }

  @media screen and (min-width: $break-small) {
  }

  #copyright {
    margin-top: 20px;
    font-family: $monospace;
    text-align: center;
  }

  a {
    font-family: $monospace;
    color: var(--title-small-color);
    background: none;
    &:hover {
      color: var(--red-color);
    }
  }
}
#quick-links a {
  letter-spacing: -1px;
  font-size: 0.8rem;
  margin-right: 20px;
  font-family: $monospace;
  color: var(--title-small-color);
  background: none;
  &:hover {
    color: var(--red-color);
  }
}

.tagline {
  font-size: 1.0em;
  font-family: $monospace;
  letter-spacing: -2px;
  a {
    color: var(--title-small-color);
    background: var(--bg-shade);
    padding: 4px;
    border-radius: 4px;

    &:hover {
      background: var(--bg-light-color);
    }
  }
  a.selected {
    color: #fff;
    background: var(--red-color);
  }
}

.posts, .p {

  ol {
    margin-left: 0;
    list-style: none;
  }

  li {
    margin-bottom: 1rem;

    @media screen and (min-width: $break-small) {
      display: flex;
      flex-direction: row;
      margin-bottom: .5rem;
    }
  }

  time {
    display: block;
    color: var(--time-color);
    font-size: 0.8em;
    line-height: 0.9em;
    font-family: $serif;

    @media screen and (min-width: $break-small) {
      font-size: 0.9em;
      line-height: inherit;
      flex: 0 0 3rem;
      letter-spacing: -1px;
    }

    + a {
      margin-left: 0rem;
      font-family: $serif-head, serif;
      text-transform: uppercase;
      padding-top: 4px;

      @media screen and (min-width: $break-small) {
        margin-left: 2rem;
      }
    }
  }
}

.post {
  margin-bottom: 100px;

  .post-title {
    margin-top: 80px;
    letter-spacing: -2px;
    font-size: 3em;
    line-height: 1.1em;
    font-weight: 900;
    @media screen and (min-width: $break-small) {
      font-size: 5em;
      overflow-wrap: inherit;
      word-wrap: inherit;
      word-break: inherit;
      hyphens: inherit;
    }
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    //-webkit-hyphens: auto;
    //-ms-hyphens: auto;
    //-moz-hyphens: auto;
  }
  .post-header {
    margin-bottom: 5rem;
  }

  .post-date {
    display: block;
    text-align: right;
  }
  #readtime {
    display: block;
    text-align: right;
  }
  .skew span {
    &:before {
      content: '/';
      padding-right: 4px;
    }
    color: $gray;
    font-size: 1em;
    font-family: $monospace;
    letter-spacing: -1px;
  }
}

.hljs {
  font-size: .8rem;
}

p,
li {
  line-height: 1.6rem;
  color: var(--text-color);
}
pre, table, p, li {
  margin-bottom: 2rem;
}


table, td, th {
    border-color: rgba(68,68,68,0.3);
}
td, th {
    padding: 10px 15px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    display: table-cell;
    vertical-align: inherit;
}
caption, th {
    text-align: left;
}
th {
    font-weight: bold;
    text-align: -internal-center;
}
thead {
  background-color: $light-gray;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    border-top: 1px solid;
    border-left: 1px solid;
}

.tags {
  list-style: none;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  cursor: pointer;
  background: var(--bg-tag-color);
  color: #999;
  border-radius: 3px 0 0 3px;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -o-user-select: none;
  -moz-user-select: none;
}

.tag::before {
  background: var(--bg-color);
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: var(--bg-color);
  border-bottom: 13px solid transparent;
  border-left: 10px solid var(--bg-tag-color);;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: $red;
  color: white;
  a {
    color: white;
  }
}
.tag a {
  color: #999;
  font-size: 0.8rem;
  border-bottom: none;
  background: none;
  font-family: $monospace;
  letter-spacing: -1px;
}
.tag a:hover {
  color: white;
}
.tag:hover::after {
   border-left-color: $red;
}

input {
  font-family: $monospace;
  font-size: $fs;
  color: #666;
}
input:focus {
  border: 1px solid $red;
}
input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ccc;
  opacity: 1; /* Firefox */
}

input[type=email] {
  width: 100%;
  padding: 10px;
  border: 1px solid #aaa;
}
input[type=text] {
  width: 100%;
  padding: 10px;
  border: 1px solid #aaa;
}

#search-form {
  display: none;
}
#search-results {
  p {
    font-size: 0.8em;
    line-height: 1.6em;
    margin-bottom: 1em;
  }
  .tags {
    font-size: 0.7em;
    margin-bottom: 3em;
  }
}


.p {
  @media screen and (min-width: $break-small) {
      display: flex;
      flex-direction: row;
      margin-bottom: .5rem;
  }
}

ul#social {
  float: right;
  margin-top: 4px;
  font-size: 0.8em;
  font-family: $monospace;
  border: 1px solid var(--title-color);
  li {
    display:block;
    width: 24px;
    background-color: var(--title-color);
    color: var(--bg-light-color);
    float: right;
    margin: 0;
  }
  li:first-child {
    display:block;
    width: inherit;
    letter-spacing: -2px;
    background-color: inherit;
    color: var(--title-color);
    float: right;
    padding: 0 2px;
  }
  a {
    color: var(--bg-light-color);
    text-decoration: none;
    background: none;
    padding: 2px;
    &:hover {
      text-transform: uppercase;
    }
  }
}

.box {
  width: 100% !important;
  padding-bottom: 100% !important;
}

figure a {
  border-bottom: 0;
}
figcaption p {
  font-family: $monospace;
  color: #fff;
}

#lang {
  font-family: $monospace;
  position: relative;
  top: -20px;
  border: 1px solid var(--title-color);
  float:left;
  //transform: rotate(-4deg);
  padding-left: 2px;
  a {
    margin-left: 2px;
    position: relative;
    top: -1px;
    font-size: 0.8em;
    padding: 6px 10px;
    background: none;
    background-color: var(--title-color);
    color: var(--bg-light-color);
    &:hover {
      text-transform: uppercase;
      color: var(--bg-color);
    }
  }
}

p.unr {
  border: 2px solid var(--title-color);
  border-left: 16px solid var(--red-color);;
  padding: 2rem;
  font-size: 1.1rem;
  letter-spacing: -2px;
  font-family: $monospace;
  margin-bottom: 4rem;
  //background-color: var(--bg-light-color);
  box-shadow: 20px 20px rgba(0,0,0,.15);
  transition: all .4s ease;
  &:hover {
    box-shadow: none;
  }
}

.none {
  display: none !important;
}

@import "button";
@import "dark";
