{% extends "base.njk" %}

{% block main %}
  <article class="posts">
    {% set posts = site.pages() | pagesWithin('/posts/') | sortBy('date') | reverse %}

    {% for k, v in posts | groupByYear('date') %}
      <section>
        <h2 class="year">{{ k }}</h2>
        <ol>
          {% for i in v %}
            <li>
              <time datetime="{{ i.date | dateISO }}">{{ i.date | rsDateShort }}</time>
              <a href="{{ i.url }}">{{ i.title }}</a>
            </li>
          {% endfor %}
        </ol>
      </section>
    {% endfor %}
  </article>
{% endblock %}
