{% extends "base.njk" %}

{% block main %}

  <article class="post">
    <header class="post-header">
      <h1 class="post-title">{{ title }}</h1>

      {% set defPage = site.pageOfSrc(src_default) %}
      {% set enPage = site.pageOfSrc(src_en) %}
      {% if enPage and lang.key !== 'en' %}
        <div id="lang">β<a href="{{ enPage.url }}">English</a></div>
      {% endif %}
      {% if lang.key === 'en' %}
        <div id="lang">β<a href="{{ defPage.url }}">Srpski</a></div>
      {% endif %}

      {% if not enPage %}
      <div id="lang">β<a href="https://oblac-rs.translate.goog{{ defPage.url }}?_x_tr_sl=sr&_x_tr_tl=en&_x_tr_hl=en&_x_tr_pto=wapp" target="blank">Translate</a></div>
      {% endif %}

      <div id="readtime" class="skew"><span>{{ readingTime.minutes | round(0, "ceil") }} min</span></div>
      {% if lang.key === 'en' %}
        <time class="post-date skew" datetime="{{ date | dateISO }}"><span>{{ date | dateDisplay }}</span></time>
      {% else %}
        <time class="post-date skew" datetime="{{ date | dateISO }}"><span>{{ date | rsDateLong }}</span></time>
      {% endif %}


      {% include "partials/share-links.njk" %}
    </header>

    {{ content | safe }}

  </article>

  <ul class="tags">
    {% for t in tag %}
      <li class="tag"><a href="/tag/{{ t | slugify }}">{{ t }}</a></li>
    {% endfor %}
  </ul>

{% endblock %}

{% block footerfiles %}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": "{{ title }}",
    "image": "{% if meta.img %}{{site.baseURL}}{{url}}{{ meta.img }}{% else %}{{site.baseURL}}/o-wide.png{% endif %}",
    "publisher": {
      "@type": "Organization",
      "name": "Oblac",
      "url": "https://igo.rs",
      "logo": {
        "@type": "ImageObject",
        "url": "https://igo.rs/igr.png",
        "width": "200",
        "height": "175"
      }
    },
    "url": "{{site.baseURL}}{{url}}",
    "datePublished": "{{ date | dateISO }}",
    "dateCreated": "{{ date | dateISO }}",
    "dateModified": "{{ date | dateISO }}",
    "description": {{ description if description else summary | dump | safe }},
    "author": {
      "@type": "Person",
      "name": "Igor Spasić",
      "url": "https://igo.rs"
    },
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://oblac.rs"
    }
  }
</script>

{#
<script>
let script = document.querySelector('#hljs');
script.addEventListener('load', function() {
  // hljs.configure({tabReplace: '  '});
  // hljs.highlightAll();
});
</script>
#}
{% endblock %}
