{% extends "base.njk" %}

{% block main %}

  {{ content | safe }}

  {% include "partials/mailchimp.html" %}

  <h2>Internet mesta</h2>

  <p>
    Besramni pokušaji da se dođe do čitalaca:
  </p>
  <p>
    <a href="https://www.instagram.com/oblacoder/" target="_blank">instagram</a>
    &nbsp;|&nbsp;
    <a href="https://www.facebook.com/oblacoder/" target="_blank">fejsbuk</a>
    &nbsp;|&nbsp;
    <a href="https://medium.com/oblac" target="_blank">medium</a>
    &nbsp;|&nbsp;
    <a href="https://twitter.com/oblac_rs" target="_blank">tviter</a>
  </p>


{% endblock %}

